*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Poppins Regular";
    src: url(fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
body{
    background-color: black;
    color: #F63356;
    font-family: "Poppins Regular"; 
    
} 
button{
    width: 140px;
    height: 40px;
    background-color: #F63356;
    border-radius: 18px;
    align-items: center;
    box-shadow: 4px 4px 10px #F63356;
    font-family: "Poppins Regular";
    font-weight: bold;
    font-style: italic;
    border: 1px solid #F63356;
}
form{
    margin-left: 100px;
}
button:hover{
    background-color: black;
    color: #fff;
border: 1px solid #000;
}
nav{
    display:inline-flex;
    margin-top: 30px;
    margin-left: 360px;
    justify-content: center;
}
header{
    margin-top: 20px;
}
h1{
    text-align: center;
    text-shadow: 2px 3px 5px #F63356;
    font-size: 40px;
}
.team{
    display: flex;
    justify-content: space-around;
}
figcaption{
    font-size: 20px;
    text-shadow: 2px 3px 5px #F63356;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
.contacts{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
li{
   list-style-type: none;
   color: white;
   font-family: "Poppins Regular";
   padding-left: 15px;
}
.contacts li{
    text-decoration: none;
    color: white;
    font-family: "Poppins Regular";
}
footer{
    margin-top: 20px;
}
.point{
    text-align: center;
}
.top{
  color:#c82424;
    text-decoration: none;
    margin-right: 10px;
}
a:hover{
    color: #fff;
}